/* TSOS.css */

body {
 
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}
.stackedPanel{
  width: 50%;
  float: left;
}
h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}
.right{
  float: right;
}
.test { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
::-webkit-scrollbar-track {
      background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
.inv {
  visibility: hidden;
}
.see {
  visibility: visible;
}
.verticalLine {
    border-left: thick solid #C0C0C0;
}
.vertical-Align {
    vertical-align: middle;
}
#systemInformationPanelHeading{
  font-size: 15pt;
}
#display {
  border: 2px solid black;
  cursor: default;
}
.panel-default {
     color: black;
     background-color: white !important;
     font-size: 20pt;
     font-family: "Courier New", Courier, monospace;
}
.panel-default > .panel-heading {
  color: #C0C0C0;
  background-color: black !important;
  border-color:  #C0C0C0 !important;
  font-size: 20pt;
  font-family: "Courier New", Courier, monospace;
}
.navBarButtonText {
  color: #C0C0C0;
  font-size: 20pt;
  font-family: "Courier New", Courier, monospace;
}
.systemInformation {
    width: 700px;
}
.normal_button {
  width: 100px;
}

.hostLog {
  resize: none;
}
.dateTimeArea {
  font-size: 15pt;
}
.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
.name{
  margin-left: 125px;
  font-size: 70pt;
  font-family: Helvetica;

}
.our_content {
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  overflow: hidden;

  /* Set our transitions up. */
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}
.outside_box:hover .our_content {
  /* On hover, set the max-height to something large. In this case there's an obvious limit. */
  max-height: 200px;
}
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

